@media screen and (max-width: 320px) {
    h2#projects,h2#skills,h2#coding  {
        font-size: 16px;
    }
    
    header .intro .developers-info {
        width: 100%;
        text-align: center;
    }

    header .intro .developers-info:last-child {
        margin-top: 600px;
    }

}
@media screen and (max-width: 420px) {
    h2#projects,h2#skills,h2#coding  {
        font-size: 16px;
    }
    header {
        width: 100%;
        padding: 0;
    }
    header .intro {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 100px;
        width: 100%;
        height: 100%;
        padding: 0;
    }

    header .intro .developers-info {
        width: 200%;
        text-align: center;
    }

    header .intro .developers-info:last-child {
        margin-top: 600px;
    }

}

@media screen and (max-width: 1024px) {
    header {
        width: 100%;
        padding: 0;
    }
    header .intro {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 100px;
        width: 100%;
        height: 100%;
        padding: 0;
    }

    header .intro .developers-info {
        width: 100%;
        text-align: center;
    }

    header .intro .developers-info:last-child {
        margin-top: 520px;
    }

    main .projects .projects-row:first-child {
        display: flex;
        flex-direction: column;
    }

    main .projects .projects-row:last-child {
        flex-direction: column-reverse;
        
    }

    main .projects .projects-row .front {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    main .coding {
        width: 80%;
        margin: 50px auto;
    }

    main .coding .coding-row {
        width: 100%;
        
    }

    main .coding .coding-row .code {
        width: 100%;
    }

    main .coding .coding-row {
        flex-direction: column;
    }

    main .coding .coding-row:last-child {
        flex-direction: column-reverse;
    }

    

    

   
}